<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	position: sticky;
	width: 100%;
	left:0;
	top:0;
	/* z-index: 99; */
	padding: 15px;
}
.header-main{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: #fffefe;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #f1eeee;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #e91e63;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: #e91e63;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid #e91e63;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #f7f3f3;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/home.jpg');
	background-position: center top;
	background-size: cover;
}

/* body{
  background-color: #000000;
}
h1,h2,h3,h4,p{
  color: white  ;
} */
/* responsive */

@media (max-width: 575.98px) {
.my-4{
  flex-direction: column !important;
}
.mainDiv {
width: 100% !important;
flex-direction: column !important;
padding: 3% !important;
}
.dayofweek {
  padding: 3% !important;
  margin-top: 5px;
}
.header .logo a {
    font-size: 26px !important;
/* .meeting {
  margin-left: -46px;
} */
}
.header{
  padding: 0px !important;
}
.header .logo {
    padding: 0 15px !important;
}
.header-main {
  padding: 0px 0px !important;
}
.meeting{
  box-shadow: 0 2px 4px rgba(0, 0, 0,1.1) !important;
}
.custom-button {
    
    margin: 4px 57px !important;
}
#copyButton, #copyButton1{
  margin: 4px 62px !important;
}
}
@media (min-width: 1024px) and (max-width:  1439px) {
.mainDiv{
width: 100% !important;
}
}

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}


</style>
<style>
  h1,p{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 1%;
  }
  h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  p,h4{
    font-size: 1rem;  
  }
  h2{
    font-size: 1rem;  

  }


  .main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  label{
    font-weight: bold;

  }
</style>

<body>
  <%- include('./alert_msg.ejs') %>
  <% function formatDateToDDMMYYYY(date) { const day=String(date.getDate()).padStart(2, '0' ); const
  month=String(date.getMonth() + 1).padStart(2, '0' ); 
  const year=date.getFullYear();
  return `${day}-${month}-${year}`; } 
  %>


  <header class="header bg-primary" >
    <div class="container bg-primary">
       <div class="header-main bg-primary">
          <div class="logo">
             <a href="#">Swaayatt Robots Meetings (<%=new_employee.name%>)</a>
          </div>
          <div class="open-nav-menu">
             <span></span>
          </div>
          <div class="menu-overlay">
          </div>
         
          <nav class="nav-menu">
            <div class="close-nav-menu">
               <img src="img/close.svg" alt="close">
            </div>
            <ul class="menu" style="color: white;">
               <li class="menu-item menu-item-has-children">
                  Home
               </li>
               <li class="menu-item">
                 Meetings
               </li>
             
            </ul>
          </nav>
         
       </div>
    </div>
 </header>


  <div class="main">
    <h1> Select Days To Meet </h1>
    <div class="mainDiv" style="display: flex; flex-direction: row; justify-content: space-around;  padding: 2%; width: 80%; flex-wrap: wrap;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;">
    

<!-- o yaar hai mera are o dekh niharo dekha na ho gar tumne khuda dekh lo yaro 
mai jaanta hu bashar hai khuda nahi hai wo bashar hazaar bada ho khuda nhi hota 
dekho dekho bat na puchho 
 -->

 <% if(new_employee.days){  %>
 <% for(let i= 0; i< new_employee.days.length;i++ ){%>
 
  <div class="<%=new_employee.days[i]%>  dayofweek"><%=new_employee.days[i]%> 
 <form action="/removeday" method="post">
  <input type="hidden" name="emp_id" value="<%=new_employee._id%>" >
  <input type="hidden" name="daytoremove" value="<%=new_employee.days[i]%>">
  <span><button type="submit"  >X</button> </span>

 </form>
 </div>
 
 
 <%}}%>


<div class="addDay dayofweek">
  <form action="/add-day" method="post">
    <input type="hidden" name="emp_id"value="<%=new_employee._id%>" >
    <select name="daytoadd" id="" required>
      <% const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>
      <% daysOfWeek.forEach(day => { %>
        <% if (!new_employee.days.includes(day)) { %>
          <option value="<%= day %>"><%= day %></option>
        <% } %>
      <% }); %>
    </select>
    <button type="submit">Add</button>
  </form>
</div>

  </div>

<h1>Add Slots of the day</h1>
  <div class="mainDiv" style="display: flex; flex-direction: row; justify-content: space-around; padding: 2%; width: 80%; flex-wrap: wrap;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;">

<%if(new_employee.slots){%>

  <% for(let i= 0; i< new_employee.slots.length;i++ ){%>
 
    <div class="<%=new_employee.slots[i]%>  dayofweek"><%=new_employee.slots[i]%> 
   <form action="/removeslot" method="post">
    <input type="hidden" name="emp_id" value="<%=new_employee._id%>" >
    <input type="hidden" name="slottoremove" value="<%=new_employee.slots[i]%>">
    <span><button type="submit" >X</button> </span>
  
   </form>
   </div>
   
   
   <%}}%>
   <div class="addDay dayofweek">
    <form action="/add-slot" method="post">
      <input type="hidden" name="emp_id" value="<%= new_employee._id %>">
      <select name="slottoadd" id="" required>
        <% const allSlots = ['12-1', '1-2', '2-3', '3-4', '4-5', '5-6', '6-7', '7-8']; %>
        <% allSlots.forEach(slot => { %>
          <% if (!new_employee.slots.includes(slot)) { %>
            <option value="<%= slot %>"><%= slot %></option>
          <% } %>
        <% }); %>
      </select>
      <button type="submit">Add</button>
    </form>
  </div>

</div>
  
<!-- <style>
  .dayofweek{
    /* border: 2px solid red; */
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 1%;
    gap: 15px;
  }
</style> -->



  

<style>
  .btbt{
    display: none; 
  }
  .dayofweek {
            /* border: 2px solid red; */
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            /* background-color: #333; */
            /* backdrop-filter: blur(10px);  */
            /* background-color: rgba(173, 216, 230, 0.4); */
            color: #333;
            font-weight: bold;
            font-weight: bold;
            padding: 1%;
            gap: 10px;
            box-shadow: 0 10px 4px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s, box-shadow 0.3s;
          }

          .dayofweek:hover {
            transform: translateY(-1px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
            background-color: #5a85ff;
            color: #fff;
          }
          .dayofweek button[type="submit"] {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    /* position: relative; */
    /* z-index: -1; */
  }

  .dayofweek button[type="submit"]:hover {
    transform: scale(1.2);
  }

  .dayofweek button[type="submit"]:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: 1px;
    border: 2px solid rgba(255, 0, 0, 0.5);
    /* background-color: rgba(129, 124, 124, 0.8); */
  }
  .custom-button {
  background-color: #007bff; 
  border: none;
  color: white;
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 95px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.custom-button:hover {
  background-color: #0056b3; 
}



</style>

<h1>Create Event / Invite People  </h1>

        
<div class="my-4" style="display: flex; padding: 2%; width:80% ; flex-direction: row; justify-content: space-around; margin-top: 2rem;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important; border-radius: 10px;">
<div style="display: flex; flex-direction: column;border-radius: 10px; border: 1px solid black;padding: 1%; ">
<h1> Create an 1 Hour Event</h1>
<input style="visibility: hidden;" type="text" id="linkInput" value="https://swaayatt.com/employee/<%=new_employee._id%>" readonly>
<p> <strong>Duration : </strong> One Hour</p>
<p> <strong>Type : </strong> Meeting /Interview</p>
<button id="copyButton" class="btn-primary my-3" style="padding: 1%; border-radius: 2rem;margin: 4px 96px;" > Copy Link</button>

</div>
<div style="display: flex; flex-direction: column;border-radius: 10px; border: 1px solid black;padding: 1%; ">
<h1> Create an 30 Min Meeting </h1>
<input style="visibility: hidden;" type="text" id="linkInput1" value="https://swaayatt.com/employee/<%=new_employee._id%>" readonly>
<p> <strong>Duration : </strong> 30 Min</p>
<p> <strong>Type : </strong>(coming soon)</p>
<button id="copyButton1" class="btn-primary my-3" style="padding: 1%; border-radius: 2rem;margin: 4px 96px;" > Copy Link</button>


</div>
</div>


          
<h1 style="text-align: center; margin-top: 20px;">All Meetings</h1>
<div class="mainDiv" style="display: flex; flex-direction: column; justify-content: space-around;  padding: 2%; width: 80%; flex-wrap: wrap;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;">

  <% for(var i = 0 ; i< formattedAppointments.length; i++){ %>

<div class="meeting">
 <h2><%=new_employee.name%> And <%=formattedAppointments[i].user.name%></h2>
 <h2>Date : <%= formatDateToDDMMYYYY(formattedAppointments[i].time_slot.from_date)%></h2> 
 <h2>Time : <%= formattedAppointments[i].time_slot.time%></h2>
 <h2>Interviewee Email : <%=formattedAppointments[i].user.email%></h2>
 <h2>Link : <%=new_employee.link%></h2>
</div>


    <%}%>
</div>


</div>
    
      
<style>
  .mainDiv {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 80%;
          padding: 2%;
          margin: 0 auto;
          box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7);
          border-radius: 10px;
        }
  .meeting{
    background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
      text-align: center;
  }
  .meeting h2 {
      margin: 0 0 10px;
      font-size: 18px;
      color: #333;
      font-weight: 800;
    }

    .meeting h2:first-child {
      font-size: 22px;
    }

    .meeting h2:nth-child(2),
    .meeting h2:nth-child(3),
    .meeting h2:nth-child(4),
    .meeting h2:nth-child(5) {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .meeting h2:last-child {
      font-size: 16px;
      margin-top: 10px;
      color: #007bff;
    }
</style>





    </div>



    <script>
      document.querySelector('.show_reSchedule').addEventListener('click',()=>{
  console.log('clisdf;lkajsdfkl')
document.querySelector('.show_reSchedule1').style.display = 'none'
  document.querySelector('.btbt').style.display = 'flex'
  document.querySelector('.show_reSchedule').style.visibility = 'hidden'

})
    </script>















<script>
    const copyButton = document.getElementById("copyButton");
  const linkInput = document.getElementById("linkInput");

  copyButton.addEventListener("click", () => {
    navigator.clipboard.writeText(linkInput.value).then(() => {
      copyButton.textContent = "Copied ";
      console.log("Link copied to clipboard");
    }).catch((error) => {
      console.error("Failed to copy link: ", error);
    });
  });
</script>

<script>
    const mainDiv = document.querySelector('.mainDiv');
const childDivs = Array.from(mainDiv.children);

childDivs.sort((a, b) => {
  const dateA = parseDate(a.querySelector('h1').textContent);
  const dateB = parseDate(b.querySelector('h1').textContent);
  return dateA - dateB;
});

childDivs.forEach(div => mainDiv.appendChild(div));

function parseDate(dateString) {
  const [day, month, year] = dateString.split('/').map(Number);
  return new Date(year + 2000, month - 1, day); // Converting to comparable format
}




</script>
<script>


(() =>{
 
 const openNavMenu = document.querySelector(".open-nav-menu"),
 closeNavMenu = document.querySelector(".close-nav-menu"),
 navMenu = document.querySelector(".nav-menu"),
 menuOverlay = document.querySelector(".menu-overlay"),
 mediaSize = 991;

 openNavMenu.addEventListener("click", toggleNav);
 closeNavMenu.addEventListener("click", toggleNav);
 // close the navMenu by clicking outside
 menuOverlay.addEventListener("click", toggleNav);

 function toggleNav() {
   navMenu.classList.toggle("open");
   menuOverlay.classList.toggle("active");
   document.body.classList.toggle("hidden-scrolling");
 }

 navMenu.addEventListener("click", (event) =>{
     if(event.target.hasAttribute("data-toggle") && 
       window.innerWidth <= mediaSize){
       // prevent default anchor click behavior
       event.preventDefault();
       const menuItemHasChildren = event.target.parentElement;
       // if menuItemHasChildren is already expanded, collapse it
       if(menuItemHasChildren.classList.contains("active")){
         collapseSubMenu();
       }
       else{
         // collapse existing expanded menuItemHasChildren
         if(navMenu.querySelector(".menu-item-has-children.active")){
         collapseSubMenu();
         }
         // expand new menuItemHasChildren
         menuItemHasChildren.classList.add("active");
         const subMenu = menuItemHasChildren.querySelector(".sub-menu");
         subMenu.style.maxHeight = subMenu.scrollHeight + "px";
       }
     }
 });
 function collapseSubMenu(){
   navMenu.querySelector(".menu-item-has-children.active .sub-menu")
   .removeAttribute("style");
   navMenu.querySelector(".menu-item-has-children.active")
   .classList.remove("active");
 }
 function resizeFix(){
    // if navMenu is open ,close it
    if(navMenu.classList.contains("open")){
      toggleNav();
    }
    // if menuItemHasChildren is expanded , collapse it
    if(navMenu.querySelector(".menu-item-has-children.active")){
         collapseSubMenu();
    }
 }

 window.addEventListener("resize", function(){
    if(this.innerWidth > mediaSize){
      resizeFix();
    }
 });

})();


</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>