<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
  h1,p{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 1%;
  }
  h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  p,h4{
    font-size: 1rem;  
  }
  h2{
    font-size: 1rem;  

  }


  .main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  label{
    font-weight: bold;

  }
</style>
<body>
  <div class="main">
    <h1>welcome <%= new_employee.name %></h1>

    <h1> Here is all of your appointments </h1>

    <div class="mainDiv" style="display: flex; flex-direction: row; justify-content: space-around; width: 100%; padding: 2%; width: 70%; flex-wrap: wrap;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;">

      <% if(accepted_appintments.length == 0){  %>

        <h4> No appointments Here </h4>

     <% } else{ %>
        <% for(var i=0; i< accepted_appintments.length; i++){  %>
           
          
          
          <div class="my-2" style="border: 2px solid rgb(49, 45, 45); display: flex; flex-direction: column; padding: 2%; width: 40%;">
                <% var targetId = accepted_appintments[i].userID %>
                 <% var  foundUser = accepted_users.find(user => user._id.toString() === targetId); %> 
      
                 <% var targetId_timeslot = accepted_appintments[i].time_slotId.trim(); %>
              

           <% if(appointment_timeslot_for_accepted_reqests.length == 0 ){ %>
         
          <p>No Appointments Here</p>
          <%  }else{ %>

                 <% var  foundSlot = appointment_timeslot_for_accepted_reqests.find(slot => slot._id.toString() === targetId_timeslot); %> 
      
                 <% const inputDate = new Date(foundSlot.from_date );  %>
    
          
                 <% const day = inputDate.getDate().toString().padStart(2, '0');  %>
                 <% const month = (inputDate.getMonth() + 1).toString().padStart(2, '0');   %>
                 <% const year = inputDate.getFullYear().toString().slice(-2);  %>
                  
                 <% const formattedDate = `${day}/${month}/20${year}`;  %>
                 
                 
    
    
          <%  const inputTime = foundSlot.time;     %>
           <% const [hours, minutes] = inputTime.split(":");   %>
            
            
          <%  const hoursNumber = parseInt(hours, 10);   %>
          <%  const minutesNumber = parseInt(minutes, 10);   %>
            
           <%         const newHours = (hoursNumber + 1 ) % 24;    %>
          <%  const newMinutes = minutesNumber;   %>
               
          <%  const formattedTime = `${newHours.toString().padStart(2, '0')}:${newMinutes.toString().padStart(2, '0')}`;   %>
            
           <% var current_time = formattedTime;   %>
    
    
            
                 
                 
                 
                <strong> <h2> Appointment With </strong> : <%= foundUser.name %> </h2>
      <strong> <h2> <%= foundUser.name %>`s Email </strong>: <%= foundUser.email %>  </h2>
     <strong>  <h2> <%= foundUser.name %>`s Number </strong>:    <%= foundUser.number %>  </h2>
      <strong> <h2>  Date </strong>: <%= formattedDate %>  </h2>
    
       <h2> <strong>From  </strong> <strong style="color: blue;">  <%= foundSlot.time %> </strong> <strong> To </strong>   <strong style="color: blue;"><%= current_time %> </strong>  </h2>
       <h2>   <strong> Text : </strong> <%= accepted_appintments[i].text %></h2>
        
       <%}%>
      
        
<button class="btn-primary show_reSchedule my-1" style="border-radius: 1rem;" >ReSchedule Appointment </button>

<form action="/delete_appointment" style="display: flex; flex-direction: column; width: 100%;" method="post">
<input type="text" name="app_id" value="<%=accepted_appintments[i]._id%>" style="display: none;" >  
<button class="btn-danger show_reSchedule1 my-1" style="border-radius: 1rem;" type="submit" >Cancel Appointment </button>

</form>


<style>
  .btbt{
    display: none; 
  }
</style>
<form action="/reSchedule_appointment" class="btbt my-1" method="post" >

<input type="text" name="appointment_id_to_reschedule" value="<%=accepted_appintments[i]._id%>" style="display: none;" >
<input class="mx-3" type="Date" name="from_date">
<input class="mx-3" type="time" name="from_time">
<input class="mx-3" type="number" name="hours" value="1" style="display: none;">
<input class="mx-3" type="number" name="days" value="1" style="display: none;">
<button type="submit" class="btn-primary my-1">Reschedule Appointment</button>

</form>

            </div>
    
         <% } %>
<% } %>
    </div>



    <script>
      document.querySelector('.show_reSchedule').addEventListener('click',()=>{
  console.log('clisdf;lkajsdfkl')
document.querySelector('.show_reSchedule1').style.display = 'none'
  document.querySelector('.btbt').style.display = 'flex'
  document.querySelector('.show_reSchedule').style.visibility = 'hidden'

})
    </script>

<!-- 

<h1>here is all your appointment requests </h1> 








<div class="mainDiv" style="display: flex; flex-direction: row; justify-content: space-around; width: 100%; flex-wrap: wrap;">
  <% if(appointment_requests1.length == 0){  %>

    <h4> No appintments requests Here </h4>
 <% }else {  %>
    <% for(var i=0; i< appointment_requests1.length; i++){  %>
        <div style="border: 2px solid red; display: flex; flex-direction: column; padding: 2%;">
            <% var targetId = appointment_requests1[i].userID %>
             <% var  foundUser = appointment_users.find(user => user._id.toString() === targetId); %> 
  
             <% var targetId_timeslot = appointment_requests1[i].time_slotId.trim(); %>
             <% var  foundSlot = appointment_timeslot.find(slot => slot._id.toString() === targetId_timeslot); %> 
  
             <% const inputDate = new Date(foundSlot.from_date );  %>

      
             <% const day = inputDate.getDate().toString().padStart(2, '0');  %>
             <% const month = (inputDate.getMonth() + 1).toString().padStart(2, '0');   %>
             <% const year = inputDate.getFullYear().toString().slice(-2);  %>
              
             <% const formattedDate = `${day}/${month}/20${year}`;  %>
             
             


      <%  const inputTime = foundSlot.time;     %>
       <% const [hours, minutes] = inputTime.split(":");   %>
        
        
      <%  const hoursNumber = parseInt(hours, 10);   %>
      <%  const minutesNumber = parseInt(minutes, 10);   %>
        
       <%         const newHours = (hoursNumber + 1 ) % 24;    %>
      <%  const newMinutes = minutesNumber;   %>
           
      <%  const formattedTime = `${newHours.toString().padStart(2, '0')}:${newMinutes.toString().padStart(2, '0')}`;   %>
        
       <% var current_time = formattedTime;   %>


        
             
             
             
             <h2> Appointment With : <%= foundUser.name %> </h2>
   <h2> Requester`s Email : <%= foundUser.email %>  </h2>
   <h2> Requester`s Number :    <%= foundUser.number %>  </h2>
   <h2> Requested Date : <%= formattedDate %>  </h2>

   <h2> from  <strong style="color: blue;">  <%= foundSlot.time %> </strong> To  <strong style="color: blue;"><%= current_time %> </strong>  </h2>
    <p> <%= appointment_requests1[i].text %> </p>

   <form action="/accept_request" method="post" >

 <input type="text" name="slotId_to_update" value="<%= appointment_requests1[i]._id %>" style="display: none;" >
 <input type="text" name="slotId_of_slot" value="<%= appointment_requests1[i].time_slotId %>" >
 <button type="submit">Accept Appointment Request </button>

   </form>

   <form action="/Reject_request" method="post" >

    <input type="text" name="slotId_to_update" value="<%= appointment_requests1[i]._id %>" style="display: none;" >
    <button type="submit">Reject Appointment Request </button>
   
      </form>
    
        </div>
     <% } }%>
    </div>
     -->



<h1>Here is your all Free Time Slots  </h1>

<div class="mainDiv" style="display: flex; flex-direction: row; justify-content: space-around; width: 100%; padding: 2%; width: 70%; flex-wrap: wrap;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;">
  <% if(time_slots.length == 0){  %>

    <h4> No TIME slots Here </h4>
 <% }else { %>
 
<% for(var i=0; i< time_slots.length; i++){  %>
    <div style="border: 2px solid red; display: flex; flex-direction: column; padding: 1%;">
        

       <% const inputDate = new Date(time_slots[i].from_date);  %>

      
       <% const day = inputDate.getDate().toString().padStart(2, '0');  %>
       <% const month = (inputDate.getMonth() + 1).toString().padStart(2, '0');   %>
       <% const year = inputDate.getFullYear().toString().slice(-2);  %>
        
       
       <% const formattedDate = `${day}/${month}/20${year}`;  %>
        
        <h2> <strong>  Date</strong> : <%= formattedDate %> </h2>
      



        <h2> <strong> from</strong> : <%= time_slots[i].time %> </h2>


      <%  const inputTime = time_slots[i].time.toString();     %>
       <% const [hours, minutes] = inputTime.split(":");   %>
        
        
      <%  const hoursNumber = parseInt(hours, 10);   %>
      <%  const minutesNumber = parseInt(minutes, 10);   %>
        
       <%         const newHours = (hoursNumber + 1 ) % 24;    %>
      <%  const newMinutes = minutesNumber;   %>
           
      <%  const formattedTime = `${newHours.toString().padStart(2, '0')}:${newMinutes.toString().padStart(2, '0')}`;   %>
        
       <% var current_time = formattedTime;   %>


        <h2> <strong> TO </strong>: <%= current_time %> </h2>



        

        <form action="/remove_timeslot" style="display: flex; flex-direction: column; width: 100%;" method="post">
          <input type="text" name="app_id" value="<%=time_slots[i]._id%>" style="display: none;" >  
          <button class="btn-danger show_reSchedule1 my-1" style="border-radius: 1rem;" type="submit" >Remove TimeSlot </button>
          
          </form>
    </div>
 <% }%>
 <%  }%>
</div>






<h1>Add Time Slots</h1>

<div style="display: flex; width: 70%; flex-direction:column;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important; justify-content: center; padding: 2%;">

<div style="display: flex; flex-direction: row; justify-content: space-around; width: 79%;"> <label> Date </label> <label>Time </label><label>How many hours you are free </label><label>Days </label></div>
  <form action="/add_time_slots" class="rechedule_div" method="POST" style="display: flex; flex-direction: row;  padding: 2%; justify-content: space-around;" >


<input type="text" name="employee_email" value="<%=new_employee.email %> " style="display: none;" >
 <input class="mx-3" type="Date" name="from_date">
 <input class="mx-3" type="time" name="from_time">
 <input class="mx-3" type="number" name="hours">
 <input class="mx-3" type="number" name="days">
<button class="btn-primary" type="submit" style="padding: 1%; border-radius: 2rem;" > Add Time Slot </button>

</form>
</div>

<h1>Create Evant / Invite People  </h1>

        
        <div class="my-4" style="display: flex; padding: 2%; width: 70% ; flex-direction: row; justify-content: space-around; margin-top: 2rem;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;">
  <div style="display: flex; flex-direction: column; border: 1px solid black;padding: 1%; ">
  <h1> Create an 1 Hour Event</h1>
  <input style="visibility: hidden;" type="text" id="linkInput" value="https://uninterested-rose-jackrabbit.cyclic.app/employee/<%=new_employee._id%>" readonly>
  <p> <strong>Duration : </strong> One Hour</p>
  <p> <strong>Type : </strong> Meeting /Interview</p>
  <button id="copyButton" class="btn-primary my-3" style="padding: 1%; border-radius: 2rem;" > Copy Link</button>

</div>
  <div style="display: flex; flex-direction: column; border: 1px solid black;padding: 1%; ">
  <h1> Create an 30 Min Meeting </h1>
  <input style="visibility: hidden;" type="text" id="linkInput1" value="https://uninterested-rose-jackrabbit.cyclic.app/employee/<%=new_employee._id%>" readonly>
  <p> <strong>Duration : </strong> 30 Min</p>
  <p> <strong>Type : </strong>(coming soon)</p>
  <button id="copyButton1" class="btn-primary my-3" style="padding: 1%; border-radius: 2rem;" > Copy Link</button>


</div>
</div>
<script>
    const copyButton = document.getElementById("copyButton");
  const linkInput = document.getElementById("linkInput");

  copyButton.addEventListener("click", () => {
    navigator.clipboard.writeText(linkInput.value).then(() => {
      copyButton.textContent = "Copied 👻";
      console.log("Link copied to clipboard");
    }).catch((error) => {
      console.error("Failed to copy link: ", error);
    });
  });
</script>

<script>
    const mainDiv = document.querySelector('.mainDiv');
const childDivs = Array.from(mainDiv.children);

childDivs.sort((a, b) => {
  const dateA = parseDate(a.querySelector('h1').textContent);
  const dateB = parseDate(b.querySelector('h1').textContent);
  return dateA - dateB;
});

childDivs.forEach(div => mainDiv.appendChild(div));

function parseDate(dateString) {
  const [day, month, year] = dateString.split('/').map(Number);
  return new Date(year + 2000, month - 1, day); // Converting to comparable format
}




</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>