<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  h1{
    text-align: center;
  }
</style>
<body>

<h1>here is all free time slots of <%= employee.name %> </h1> 





<div class="mainDiv" style="display: flex; flex-direction: row; justify-content: space-around; width: 100%; flex-wrap: wrap;">

<% for(var i=0; i< time_slots.length; i++){  %>
    <div style="border: 2px solid red; display: flex; flex-direction: column; padding: 2%;">
        

       <% const inputDate = new Date(time_slots[i].from_date);  %>

      
       <% const day = inputDate.getDate().toString().padStart(2, '0');  %>
       <% const month = (inputDate.getMonth() + 1).toString().padStart(2, '0');   %>
       <% const year = inputDate.getFullYear().toString().slice(-2);  %>
        
       
       <% const formattedDate = `${day}/${month}/20${year}`;  %>
        
        <h2> Date : <%= formattedDate %> </h2>
      



        <h2> from : <%= time_slots[i].time %> </h2>


      <%  const inputTime = time_slots[i].time.toString();     %>
       <% const [hours, minutes] = inputTime.split(":");   %>
        
        
      <%  const hoursNumber = parseInt(hours, 10);   %>
      <%  const minutesNumber = parseInt(minutes, 10);   %>
        
       <%         const newHours = (hoursNumber + 1 ) % 24;    %>
      <%  const newMinutes = minutesNumber;   %>
           
      <%  const formattedTime = `${newHours.toString().padStart(2, '0')}:${newMinutes.toString().padStart(2, '0')}`;   %>
        
       <% var current_time = formattedTime;   %>


        <h2> TO : <%= current_time %> </h2>



        <form action="/book_slot" method="post">

            <input type="text" name = 'slot_id' value=" <%= time_slots[i]._id %> " style="display: none;" >
            <input type="text" name="user_id" value="<%= user._id %>" style="display: none;">
            <input type="text" name="employee_id" value="<%= employee._id %>" style="display: none;">

            Please write some text for employee : <input type="text" name="text_associated">

            <button type="submit"> book this slot </button>


        </form>


    </div>
 <% } %>
</div>






<script>
    const mainDiv = document.querySelector('.mainDiv');
const childDivs = Array.from(mainDiv.children);

childDivs.sort((a, b) => {
  const dateA = parseDate(a.querySelector('h1').textContent);
  const dateB = parseDate(b.querySelector('h1').textContent);
  return dateA - dateB;
});

childDivs.forEach(div => mainDiv.appendChild(div));

function parseDate(dateString) {
  const [day, month, year] = dateString.split('/').map(Number);
  return new Date(year + 2000, month - 1, day); // Converting to comparable format
}
</script>
</body>
</html>