<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
  h1{
    text-align: center;
  }
  h2{
    margin-top: 1%;
  }
  .mainDiv h2{
    font-size: 1rem !important  ;
  }
  form input{
    font-size: 1rem !important  ;

  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}
#container {
  width: 964px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 50px;
  padding-bottom: 0px !important;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

  
</style>
<style>
  body {
            font-family: 'Arial', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f5f5f5;
        }

        form {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding:7px;
            width: 78%;
            border-radius: 15px;
            /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
        }

        input {
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            outline: none;
        }

        #time-picker {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        #hour, #minute {
            width: 30%;
        }

        span {
            font-size: 18px;
        }

        #ampm {
            width: 60px;
        }

        .fbtn {
            width: 100%;
            padding: 15px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .fbtn:hover {
            background-color: #2980b9;
        }


/* for responsiveness  */

@media screen and (max-width: 768px) {
            .mainDiv {
                flex-direction: column;
                align-items: center;
                width: 90vw;
                height: 50vw;
            }

            .mainddddd {
                width: 100%;
                padding-top: 2%;
                height: 25rem;
            }

            #container {
                width: 100%;
            }

            #header {
                flex-direction: column;
            }

            #calendar {
                flex-direction: column;
            }

            .day {
                width: calc(20% - 10px);
                margin: 5px;
            }

            #newEventModal, #deleteEventModal {
                width: 80%;
                left: 10%;
            }
            form{
              width: 47%;
            }
            #time-picker{
              flex-direction: row;
              flex-wrap: wrap;
            }
            .last_for_display_time{
              width: 100%;
            }
        }


.mainddddd{
  width: 90%; display: flex; flex-direction: row;box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;  padding: 1.5%;
}

</style>

<style>
  body {
      font-family: 'Arial', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f5f5f5;
  }

  .mainDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vw;
  }

  #container {
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
  }

  #header {
      padding: 10px;
      color: #d36c6c;
      font-size: 18px;
      font-family: sans-serif;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  #header button {
      background-color: #92a1d1;
  }

  #weekdays, #calendar {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }

  #weekdays div, .day {
      width: calc(14.2857% - 10px);
      padding: 10px;
      margin: 5px;
      
  }

  .day {
      cursor: pointer;
      box-sizing: border-box;
      background-color: white;
      box-shadow: 0px 0px 3px #CBD4C2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
  }

  .day:hover {
      background-color: #e8faed;
  }

  .day + #currentDay {
      background-color: #e8f4fa;
  }

  #newEventModal, #deleteEventModal {
      width: 80%;
      left: 10%;
  }

  .mainddddd {
      width: 100%;
      display: flex;
      flex-direction: row;
      box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(167, 164, 164, 0.7) !important;
      padding: 1.5%;
  }

  @media screen and (max-width: 768px) {
     
    body {
      font-family: 'Arial', sans-serif;
      /* display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; */
      margin: 0;
      background-color: #f5f5f5;
      display: block;
  }
    
    
    
    
    .mainDiv {
          flex-direction: column;
          align-items: center;
          width: 90vw;
          height: 50vw;
      }
/* .last_for_display_time{
  display: none;
} */
      .mainddddd {
          width: 90%;
          padding-top: 2%;
          /* height: 87vw; */
          flex-direction: column;
      }

      #container {
          width: 100%;
      }

      #header {
          flex-direction: column;
      }

      #calendar {
          flex-direction: row;
      }

      .day {
          width: calc(20% - 10px);
          margin: 5px;
      }

      #newEventModal, #deleteEventModal {
          width: 80%;
          left: 10%;
      }
      #weekdays div, .day{
        width: calc(11% - 10px);
    margin-left: 4%;
    height: 8vw;
      }
  }
</style>


<body>
  <div class="main">

<% function capitalizeFirstLetter(str) { %>
  <% return str.replace(/^\w/, (c) => c.toUpperCase()); %>
<%}%>





<h1 class="my-4" style="font-family: sans-serif; font-weight: bold; font-size: 1.5rem;" >Book 1 Hour meeting with  <%= capitalizeFirstLetter(employee.name); %> </h1> 








<div class="mainddddd" >
<div id="container">
  <div id="header">
    <div id="monthDisplay"></div>
    <div>
      <button id="backButton">Back</button>
      <button id="nextButton">Next</button>
    </div>
  </div>

  <div id="weekdays">
    <div class="Sunday" >Sunday</div>
    <div class="Monday" >Monday</div>
    <div class="Tuesday" >Tuesday</div>
    <div class="Wednesday" >Wednesday</div>
    <div class="Thursday" >Thursday</div>
    <div class="Friday" >Friday</div>
    <div class="Saturday" >Saturday</div>
  </div>

  <div id="calendar"></div>
</div>

<div id="newEventModal">
  <h2>New Event</h2>

  <input id="eventTitleInput" placeholder="Event Title" />

  <button id="saveButton">Save</button>
  <button id="cancelButton">Cancel</button>
</div>

<div id="deleteEventModal">
  <h2>Event</h2>

  <p id="eventText"></p>

  <button id="deleteButton">Delete</button>
  <button id="closeButton">Close</button>
</div>

<div id="modalBackDrop"></div>




<div class="last_for_display_time" style="width:295px; padding-top: 6%;"></div>

</div>
</div>
<script >


  let nav = 0;
let clicked = null;


const calendar = document.getElementById('calendar');
const newEventModal = document.getElementById('newEventModal');
const deleteEventModal = document.getElementById('deleteEventModal');
const backDrop = document.getElementById('modalBackDrop');
const eventTitleInput = document.getElementById('eventTitleInput');
const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];



function load() {
const dt = new Date();
// console.log("nav=", nav);
dt.setDate(1);
// console.log("DATE=", dt);

// console.log("MONTH = ", dt.getMonth() , dt.getMonth() + nav);

// dt.setMonth((new Date().getMonth()) + nav);
dt.setMonth((dt.getMonth()) + nav);
// console.log(dt)


const day = dt.getDate();
const month = dt.getMonth();
const year = dt.getFullYear();
// const month1 = (dt.getMonth() + 1).toString().padStart(2, '0');

// console.log(day,month,year )

const firstDayOfMonth = new Date(year, month, 1);
const daysInMonth = new Date(year, month + 1, 0).getDate();
// console.log(firstDayOfMonth, daysInMonth)

const dateString = firstDayOfMonth.toLocaleDateString('en-us', {
weekday: 'long',
year: 'numeric',
month: 'numeric',
day: 'numeric',
});
// console.log('datestring'+ dateString)
const paddingDays = weekdays.indexOf(dateString.split(', ')[0]);
// console.log(paddingDays + 'a;sldkfja;sldkfj')
document.getElementById('monthDisplay').innerText = 
`${dt.toLocaleDateString('en-us', { month: 'long' })} ${year}`;

calendar.innerHTML = '';






for(let i = 1; i <= paddingDays + daysInMonth; i++) {
const daySquare = document.createElement('div');
daySquare.classList.add('day');


if (i > paddingDays) {
  daySquare.innerText = i - paddingDays;
  // const eventForDay = events.find(e => e.date === dayString);
   const dayString = `${i - paddingDays}/${month + 1}/${year}`;
   const parts = dayString.split('/');
   const formattedDate = `${parts[0].padStart(2, '0')}/${month + 1}/${parts[2]}`;
//  console.log('this is daystring'+ formattedDate)
  
 daySquare.classList.add(`day_${i - paddingDays}`);
 const d = new Date()
            if(d.getDate() == (i-paddingDays)){
                // console.log(i-paddingDays)
               daySquare.style.backgroundColor='#89abc9'
            }

 
 document.querySelector('.last_for_display_time').innerHTML = ``
  daySquare.addEventListener('click', () => {
    
    // <input type="number" name="hour" id="hour" min="1" max="12" placeholder="HH" required>
    //         <span>:</span>
    //         <input type="number" id="minute" name="minute" min="0" max="59" placeholder="MM" required>
    //         <select id="ampm" name="ampm" >
    //             <option value="AM">AM</option>
    //             <option value="PM">PM</option>
    //         </select>
    
    // console.log(formattedDate)
    
    document.querySelector('.last_for_display_time').innerHTML = `
    <div id="time-picker">
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

        
           <input type="time" name="from_time" value="12:00" style="display:none;" >
          <button class="fbtn" type="submit">12:00 PM</button>
          
    </form>
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

        
           <input type="time" name="from_time" value="13:00" style="display:none;" >
          <button class="fbtn" type="submit">01:00 PM</button>
           
    </form>
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

        
           <input type="time" name="from_time" value="14:00" style="display:none;" >
          <button class="fbtn" type="submit">02:00 PM</button>
          
    </form>
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

        
           <input type="time" name="from_time" value="15:00" style="display:none;" >
          <button class="fbtn" type="submit">03:00 PM</button>
          
    </form>
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

        
           <input type="time" name="from_time" value="16:00" style="display:none;" >
          <button class="fbtn" type="submit">04:00 PM</button>
           
    </form>

    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

        
           <input type="time" name="from_time" value="17:00" style="display:none;" >
          <button class="fbtn" type="submit">05:00 PM</button>
          
    </form>
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

       
           <input type="time" name="from_time" value="18:00" style="display:none;" >
          <button class="fbtn" type="submit">06:00 PM</button>
          
    </form>
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

       
           <input type="time" name="from_time" value="19:00" style="display:none;" >
          <button class="fbtn" type="submit">07:00 PM</button>
           
    </form>
    <form action="/fake_login" method="post" >
      
      <input type="string" name="date_of_ap" value="${formattedDate}" style="display:none;" >
      <input type="string" name="employee_id" value="<%=employee._id%>" style="display:none;"  >

        
           <input type="time" name="from_time" value="20:00" style="display:none;" >
          <button class="fbtn" type="submit">08:00 PM</button>
          
    </form>
</div>
    `




  });
} else {
  daySquare.classList.add('padding');
}

calendar.appendChild(daySquare);    
}



}




function initButtons() {
document.getElementById('nextButton').addEventListener('click', () => {
  // console.log('button is clicked!!!!!!!!!!!!')
nav++;
load();
});

document.getElementById('backButton').addEventListener('click', () => {
nav--;
load();
});

}








initButtons();


load();


function changeHeadingText() {
            var Sunday = document.querySelector('.Sunday');
            var Monday = document.querySelector('.Monday');
            var Tuesday = document.querySelector('.Tuesday');
            var Wednesday = document.querySelector('.Wednesday');
            var Thursday = document.querySelector('.Thursday');
            var Friday = document.querySelector('.Friday');
            var Saturday = document.querySelector('.Saturday');
           
            var windowWidth = window.innerWidth;

            if (windowWidth <= 768) {
                Sunday.textContent = 'Sun';
                Monday.textContent = 'Mon';
                Tuesday.textContent = 'Teu';
                Wednesday.textContent = 'Wed';
                Thursday.textContent = 'Thu';
                Friday.textContent = 'Fri';
                Saturday.textContent = 'Sat';

            } 
        }

        // Run the function on page load and window resize
        window.addEventListener('load', changeHeadingText);
        window.addEventListener('resize', changeHeadingText);


</script>


<script>
    const mainDiv = document.querySelector('.mainDiv');
const childDivs = Array.from(mainDiv.children);

childDivs.sort((a, b) => {
  const dateA = parseDate(a.querySelector('h1').textContent);
  const dateB = parseDate(b.querySelector('h1').textContent);
  return dateA - dateB;
});

childDivs.forEach(div => mainDiv.appendChild(div));

function parseDate(dateString) {
  const [day, month, year] = dateString.split('/').map(Number);
  return new Date(year + 2000, month - 1, day); // Converting to comparable format
}
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>
</html>